# Virtual environment
venv/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# IDE-specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Database files
*.db
*.sqlite3

# Logs
*.log

# Temporary files
*.tmp
*.bak
*.swp
